{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ style_src }}">
<script src="{{ script_src }}" defer></script>
{% endblock %}

{% block content %}
<div class="content-block full chat">
    <div class="nav">
        <div class="info">
            <img src="/static/assets/icons/room.png" alt="">
            <span id="span-room">...</span>
        </div>
        <div class="sep"></div>
        <div class="info">
            <img src="/static/assets/icons/username.png" alt="">
            <span id="span-username">...</span>
        </div>
        <div class="sep"></div>
        <div class="info">
            <img src="/static/assets/icons/members.png" alt="">
            <span id="span-clients">0</span>
        </div>
    </div>
    <div class="messages-container">
        <div id="messages">

        </div>
        <form class="input-box" onsubmit="submitChatInput(event)">
            <input id="input-content" type="text">
        </form>
    </div>

    <div style="display: none;">
        <div id="template-message">
            <div class="message-container" id="msg-[[id]]">
                <div class="message is-me-[[isMe]]">
                    <span class="username">[[username]]</span>
                    <span class="content">[[content]]</span>
                </div>
            </div>
        </div>
        <div id="template-system_message">
            <div class="system-message-container" id="msg-[[id]]">
                <span class="content error-[[error]]">[[content]]</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}