.header {
    padding-inline: 35%;
    text-align: center;

    @media (max-width: 600px) {
        padding-inline: 20px;
    }      

    span {
        margin-bottom: 50px;
    }
}

.hiw-content {
    padding-inline: 20%;

    @media (max-width: 600px) {
        padding-inline: 20px;
    }      
}