{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ style_src }}">
{% endblock %}

{% block content %}
<div class="little-header header">
    <div class="block text">
        <h1>EXTENSIONS</h1>
        <span>Voici la liste officiels des extensions</span>
    </div>
    <div class="block image"></div>
</div>
<div class="content-block">
    <h2>Official List</h2>
    <div class="extensions">
        <div class="extension">
            <div class="description">
                <img src="/static/assets/icons/privacy.png" alt="">
                Test
            </div>
            <div>
                <a href="#" class="button green">Download</a>
            </div>
        </div>
        <div class="extension">
            <div class="description">
                <img src="/static/assets/icons/privacy.png" alt="">
                Test
            </div>
            <div>
                <a href="#" class="button green">Download</a>
            </div>
        </div>
        <div class="extension">
            <div class="description">
                <img src="/static/assets/icons/privacy.png" alt="">
                Test
            </div>
            <div>
                <a href="#" class="button green">Download</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}