<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/base.css">
    {% block head %}{% endblock %}
    <title>UDES</title>
</head>
<body>
    <nav>
        <div class="block">
            <img src="/static/assets/logo-white.png">
        </div>
        <div class="block">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
            <a class="button" href="/extensions">Download</a>
        </div>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>